$media-md: 768px;
$media-sm: 480px;

html, body, #__next {
	height: 100%;
	overflow: hidden;

	>div {
		height: 100%;
	}
}

.fh {
	height: calc(100% - 3rem);
}

.body {
	height: calc(100% - 6rem);
	overflow-y: auto;
	margin: 3rem 0 3rem
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}

.loading-icon {
	animation: rotate 3s linear infinite;
	font-size: 4rem;
}

.nav-link  {
	>a {
		color: #f2fdf6;
		&:hover {
			color: #1c1c1c;
		}
	}
}

.subtitle {
	margin: 0 0 1rem;
}

.hero-icon {
	color: #f2fdf6;
	font-size: 1rem;

	&:hover {
		color: #1c1c1c;
	}

	> svg {
		margin: 0 4px;
	}
}

.hero {
	> div {
		overflow: visible !important;
	}
}

.shadow {
	overflow: visible;
	padding: 1rem;
	filter: drop-shadow(4px 4px 4px #1c1c1c);
}

.badge {
	color: #3a3939;
	border: 2px solid #fafafa;
	background: #fafafa;
}

.icon-container {
	display: flex;
	flex-flow: row wrap;
	> a {
		padding: 0 1rem 0 0;
	}
}

.project-card {
	margin: 0 0 2rem;
	display: flex;
	flex-direction: column;
	gap: 4px;

	>:first-child {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}
}

.project-title {
	color: #aef2c7;
}

.project-image {
	min-width: 4rem !important;
	max-width: 4rem !important;
}

.project-links {
	display: flex;
	gap: 1rem;
}